<a href="https://colab.research.google.com/github/rranjithkumar100/AI-Training/blob/main/Day_2_Type_Casting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# String to Int

salaryStr = '10000'
print(type(salaryStr))

salary = int(salaryStr)
print(type(salary))

<class 'str'>
<class 'int'>

In [9]:
#String to Float

salaryStr = '10000.00'
print(type(salaryStr))

salary = float(salaryStr)
print(type(salary))
print(salary)

<class 'str'>
<class 'float'>
10000.0

In [4]:

#Float to Int
billAmount = 10.002
print(type(billAmount))

billAmountInt = int(billAmount)
print(type(billAmountInt))
print(billAmountInt)

<class 'float'>
<class 'int'>
10

In [5]:

#Int to Float
billAmount = 10
print(type(billAmount))

billAmountFloat = float(billAmount)
print(type(billAmountFloat))
print(billAmountFloat)

<class 'int'>
<class 'float'>
10.0

In [6]:
#Int to String

billAmount = 10
print(type(billAmount))

billAmountStr = str(billAmount)
print(type(billAmountStr))
print(billAmountStr)

<class 'int'>
<class 'str'>
10

In [7]:
#  User input to Int

user_input_age = input("Enter your age: ")

age = int(user_input_age)

# Add 5 years to the age
age_in_5_years = age + 5

print(f"In 5 years, you will be {age_in_5_years} years old.")

Enter your age: 20
In 5 years, you will be 25 years old.