<a href="https://colab.research.google.com/github/rranjithkumar100/AI-Training/blob/main/Day_9_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
myTuple = ("Max", 28, "New York")
print(myTuple)

item = myTuple[0]
print(item)

for i in myTuple:
    print(i)

print(type(myTuple))

('Max', 28, 'New York')
Max
Max
28
New York
<class 'tuple'>

In [7]:
# single data not consider as a tuple, until you put a comma
invalidTuple = ("Max")
print(type(invalidTuple)) # string, not tuple

<class 'str'>

In [5]:
# put comma at the end, compiler will understand this is tuple
validTuple = ("Max",)
print(type(validTuple))

<class 'tuple'>

In [8]:
# count the elements
myTuple = ("a", "p", "p", "l", "e")
print(myTuple.count("p"))

2

In [9]:
# total count
print(len(myTuple))

5