<a href="https://colab.research.google.com/github/rranjithkumar100/AI-Training/blob/main/Day_17_Lambda_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# LAMBDA FUNCTIONS

In [ ]:
qubeValue = lambda a:  pow(a,3)


qubeValue(10)

1000

In [ ]:
pi = lambda r,p=3.14 : p * pow(r,2)

In [ ]:
pi(3)

28.26

In [ ]:
ab2ab = lambda a,b : a**2 + b**2 + 2*(a*b)
ab2ab(10,2)

144

In [ ]:
isEven = lambda a : a%2 == 0
isEven(10)

True

In [ ]:
# always return value first then if condition, example a if(a>b)
max = lambda a,b :a if(a>b)  else b
max(10,20)

20

In [13]:
# MAP WITH LAMBDA FUNCTION, ITERATE AND MULTIPLE BY 2

data = [1,2,3,4,5]
result = list(map(lambda a: a**2,data))
print(result)

[1, 4, 9, 16, 25]

In [14]:
# Map without lambda
data = [1,2,3,4,5]
def square(a):
    return a**2
result = list(map(square,data))
print(result)

[1, 4, 9, 16, 25]

In [15]:
# filter function with lambda
data = [1,2,3,4,5]
result = list(filter(lambda a: a%2==0,data))
print(result)

[2, 4]

In [16]:
# reduce function with lambda sum all numbers
from functools import reduce
data = [1,2,3,4,5]
result = reduce(lambda a,b: a+b,data)
print(result)

15