<a href="https://colab.research.google.com/github/rranjithkumar100/AI-Training/blob/main/Day_15_User_defined_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# simple sum function

def add(num1, num2):
    return num1 + num2


sum = add(10, 20)
print(sum)

30

In [3]:
# sum function with float return

def add(num1, num2):
    return float(num1 + num2)


sum = add(10, 20)
print(sum)

30.0

In [4]:
# default values

def add(num1, num2=0):
    return float(num1 + num2)


sum = add(10)
print(sum)

10.0

In [8]:
# multi line string output

def sampleParagraph():
  return ''' ranjith kumar is a talented boy üòÅ
  he is excellent in programming
  he is good in maths also
  but he is not good in cooking üòÇ
  '''

print(sampleParagraph())

 ranjith kumar is a talented boy üòÅ
  he is excellent in programming
  he is good in maths also
  but he is not good in cooking üòÇ

In [7]:
def sumMarks(tamil, english, maths, science, practical = 85):
    print("tamil: ", tamil)
    print("english: ", english)
    print("maths: ", maths)
    print("science: ", science)
    print("practical: ", practical)
    return tamil + english + maths + science + practical

print(sumMarks(english = 40, tamil = 100, maths = 100, science = 100))

tamil:  100
english:  40
maths:  100
science:  100
practical:  85
425

In [11]:
def cubeNumber(num):
    return pow(num,3)

print(cubeNumber(10))

1000

In [9]:
#2X^2 + 3Y + 10

def calc(x,y):
    return pow((2*x),2) + (3*y) +10

print(calc(10,2))

416